<div class="container">
  <br>
  <div class="row col-md-12 btn-group select-job-box">
    <!--=== 工作地点下拉选单 ===-->
    <div class="dropdown btn-group clearfix">
      <% if params[:location].present? %>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:location] %> <span class="caret"></span>
      </button>
      <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        工作城市 <span class="caret"></span>
      </button>
      <% end %>
      <ul class="dropdown-menu" selection aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("北京", jobs_path(:location => "北京")) %>
        </li>
        <li>
          <%= link_to("上海", jobs_path(:location => "上海")) %>
        </li>
        <li>
          <%= link_to("深圳", jobs_path(:location => "深圳")) %>
        </li>
        <li>
          <%= link_to("广州", jobs_path(:location => "广州")) %>
        </li>
        <li>
          <%= link_to("杭州", jobs_path(:location => "其他")) %>
        </li>

        <li>
          <%= link_to("所有城市", jobs_path(:location => "所有城市") ) %>
        </li>
      </ul>
    </div>

    <!--=== 职位类型下拉选单 ===-->
    <div class="dropdown btn-group clearfix">
      <% if params[:category].present? %>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:category] %> <span class="caret"></span>
      </button>
      <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        职位类型 <span class="caret"></span>
      </button>
      <% end %>
      <ul class="dropdown-menu" selection aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("技术", jobs_path(:category => "技术")) %>
        </li>
        <li>
          <%= link_to("产品", jobs_path(:category => "产品")) %>
        </li>
        <li>
          <%= link_to("设计", jobs_path(:category => "设计")) %>
        </li>
        <li>
          <%= link_to("运营", jobs_path(:category => "运营")) %>
        </li>
        <li>
          <%= link_to("市场", jobs_path(:category => "市场")) %>
        </li>
        <li>
          <%= link_to("职能", jobs_path(:category => "职能")) %>
        </li>
        <li>
          <%= link_to("其他", jobs_path(:category => "其他")) %>
        </li>
        <li>
          <%= link_to("所有类型", jobs_path(:category => "所有类型") ) %>
        </li>
      </ul>
    </div>

    <!--=== 月薪下拉选单 ===-->
    <div class="dropdown btn-group clearfix">
      <% if params[:wage].present? %>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:wage] %> <span class="caret"></span>
      </button>
      <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        月薪 <span class="caret"></span>
      </button>
      <% end %>
      <ul class="dropdown-menu" selection aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("5k以下", jobs_path(:wage => "5k以下")) %>
        </li>
        <li>
          <%= link_to("5~10k", jobs_path(:wage => "5~10k")) %>
        </li>
        <li>
          <%= link_to("10~15k", jobs_path(:wage => "10~15k")) %>
        </li>
        <li>
          <%= link_to("15~25k", jobs_path(:wage => "15~25k")) %>
        </li>
        <li>
          <%= link_to("25k以上", jobs_path(:wage => "25k以上")) %>
        </li>
        <li>
          <%= link_to("所有薪资", jobs_path(:wage => "所有薪资")) %>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <br>

  <% if @jobs.count == 0 %>
  <h4 class="text-center text-danger">没有符合条件的职位哦~</h4>
  <% else %>
  <!-- 职位列表 -->
  <ul class="job-list">
    <% @jobs.each do |job| %>
    <li class="job-item">
      <div class="job-primary">
          <div class="info-primary">
              <h3 class="name"><%= link_to(job.title, job_path(job)) %> <span class="red"><%= render_job_wage(job) %></span></h3>
              <p><sapn class="fa fa-map-marker"></sapn> <%= job.location %><em class="vline"></em><%= job.exprience %><em class="vline"></em><%= job.education %></p>
          </div>
          <div class="info-comapny">
              <div class="company-text">
                  <h3 class="name">新生大学</h3>
                  <p><span class="fa fa-envelope"></span> <%= job.contact_email %></p>
              </div>
          </div>
      </div>
      <div class="job-time"><span class="time">发布于 <%= render_job_time(job) %></span></div>

    </li>
    <% end %>
  </ul>

  <!--=== 分页区块 ===-->
  <div class="col-md-10 col-md-offset-1 job-bottom">
    <div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <% end %>
</div>
