<div class="container">
  <br>
  <% if @jobs.count == 0 %>
    <h4 class="text-center text-danger">收藏夹里没有内容</h4>
  <% else %>
    <div class="dropdown clearfix pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
          <%= link_to("按薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
        </li>
        <li>
          <%= link_to("按发表时间排序", jobs_path) %>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <!-- 职位列表 -->
    <ul class="job-list">
      <% @jobs.each do |job| %>
      <li class="job-item">
        <div class="job-primary">
            <div class="info-primary">
                <h3 class="name"><%= link_to(job.title, job_path(job)) %> <span class="red"><%= render_job_wage(job) %></span></h3>
                <p><sapn class="fa fa-map-marker"></sapn> <%= job.location %><em class="vline"></em><%= job.exprience %><em class="vline"></em><%= job.education %></p>
            </div>
            <div class="info-comapny">
                <div class="company-text">
                    <h3 class="name"><%= job.company %></h3>
                    <p><span class="fa fa-envelope"></span> <%= job.contact_email %></p>
                </div>
            </div>
        </div>
        <div class="job-time"><span class="time">发布于 <%= render_job_time(job) %></span></div>

      </li>
      <% end %>
    </ul>

<% end %>
</div>
