<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :company, :label => "公司名称", :placeholder => "请输入公司名称"%>
<%= f.input :title, :label => "职位名称", :placeholder => "请输入职位名称"%>

<% if @job.category? %>
<%= f.input :category, :label => "职位类型", :collection => ["技术", "产品", "设计", "运营", "市场", "职能", "其他"], :checked => @job.category %>
<% else %>
<%= f.input :category, :label => "职位类型", :collection => ["技术", "产品", "设计", "运营", "市场", "职能", "其他"] %>
<% end %>

<%= f.input :description, :label => "职位描述", :placeholder => "请输入选择职位描述"%>
<%= f.input :wage_lower_bound, :label => '薪资' do %>
   <%= f.input_field :wage_lower_bound, :as => :string, style: "width:50px;border-radius:5px" %> <span class="wage-form">k ~</span>
   <%= f.input_field :wage_upper_bound, :as => :string, style: "width:50px;border-radius:5px" %> <span class="wage-form">k</span>
<% end %>
<%= f.input :contact_email, :label => "联系邮箱" %>

<% if @job.location? %>
<%= f.input :location, :label => "工作地点", :collection => ["北京", "上海", "深圳", "广州", "杭州", "其他"], :checked => @job.location%>
<% else %>
<%= f.input :location, :label => "工作地点", :collection => ["北京", "上海", "深圳", "广州", "杭州", "其他"]%>
<% end %>

<% if @job.exprience? %>
<%= f.input :exprience, :label => "工作经验", :collection => ["无工作经验", "1~3年", "3~5年", "5~10年", "10年以上"], :checked => @job.exprience %>
<% else %>
<%= f.input :exprience, :label => "工作经验", :collection => ["无工作经验", "1~3年", "3~5年", "5~10年", "10年以上"] %>
<% end %>

<% if @job.education? %>
  <%= f.input :education, :label => "教育水平", :collection => ["中专及以下", "大专", "本科", "硕士", "博士及以上"], :checked => @job.education%>
<% else %>
<%= f.input :education, :label => "教育水平", :collection => ["中专及以下", "大专", "本科", "硕士", "博士及以上"]%>
<% end %>

<%= f.input :is_hidden, :label => "是否隐藏职位"%>
<%= f.submit "保存", disable_with: "Submiting...", class: "btn btn-primary" %>
<% end %>
<br>
