<div class="container">
  <br>
  <div class="pull-right">
  <%= link_to(" 新增职位", new_admin_job_path, :class => "btn btn-primary fa fa-plus" ) %>
  </div>
  <br><br>
  <table class="table table-hover admin-job-table">
    <thead >
        <tr class="active">
            <td>职位</td>
            <td>收到履历数量</td>
            <td>对我感兴趣</td>
            <td>薪资范围</td>
            <td>发布时间</td>
            <td>所有职位：<%= @jobs.count %></td>
            <td>管理</td>
        </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= render_job_status(job) %>
          <%= link_to(job.title, admin_job_path(job)) %>
        </td>
        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
        <td> <%= link_to(job.job_collectors.count, admin_job_users_path(job)) %> </td>
        <td> <%= job.wage_lower_bound %> </td>
        <td> <%= job.wage_upper_bound %> </td>
        <td>
          <%= job.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
        <td>
          <div class="btn-group btn-group-xs">
            <%= link_to(edit_admin_job_path(job), :title => "编辑", :class => "btn btn-xs btn-default") do%>
              <span class="fa fa-edit"></span>
            <% end %>
            <%= link_to(admin_job_path(job), :method => :delete, :title => "删除", :class => "btn btn-xs btn-default", :data => { :confirm => "Are you sure?" }) do%>
              <span class="fa fa-remove"></span>
            <% end %>
            <% if job.is_hidden %>
              <%= link_to(publish_admin_job_path(job) , :method => :post, :title => "隐藏", :class => "btn btn-xs btn-default") do%>
                <span class="fa fa-eye"></span>
              <% end %>
            <% else %>
              <%= link_to(hide_admin_job_path(job), :method => :post, :title => "显示", :class => "btn btn-xs btn-default") do%>
              <span class="fa fa-eye-slash"></span>
              <% end%>
            <% end %>
          </div>
        </td>

      </tr>
      <% end %>
    </tbody>
</table>
</div>
