<div class="container">
  <br>
  <div class="pull-right">
  <%= link_to(" 新增职位", new_admin_job_path, :class => "btn btn-primary fa fa-plus" ) %>
  </div>
  <br><br>
  <table class="table table-hover admin-job-table">
    <thead >
        <tr class="active">
            <td>职位</td>
            <td>简历/收藏</td>
            <td>工作地点</td>
            <td>职位类型</td>
            <td>薪资范围</td>
            <td>发布时间</td>
            <td>所有职位：<%= @jobs.count %></td>
        </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= render_job_status(job) %>
          <%= link_to(job.title, admin_job_path(job)) %>
        </td>

        <td> <%= link_to(admin_job_resumes_path(job)) do%>
          <%= render_resumes_count(job) %>
          <% end %>
           / <%= link_to(admin_job_users_path(job)) do%>
            <%= render_collectors_count(job) %>
            <% end %>
         </td>

        <td><sapn class="fa fa-map-marker"></sapn> <%= job.location %> </td>
        <td> <%= job.category %> </td>
        <td> <%= render_job_wage(job) %></td>
        <td>
          <%= job.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
        <td>
          <div class="btn-group btn-group-xs">
            <%= link_to(edit_admin_job_path(job), :class => "btn btn-xs btn-default") do%>
              <span class="fa fa-edit" title="编辑"></span>
            <% end %>
            <%= link_to(admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-default", :data => { :confirm => "Are you sure?" }) do%>
              <span class="fa fa-remove" title="删除"></span>
            <% end %>
            <% if job.is_hidden %>
              <%= link_to(publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-default") do%>
                <span class="fa fa-eye" title="点击显示该职位"></span>
              <% end %>
            <% else %>
              <%= link_to(hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-default") do%>
              <span class="fa fa-eye-slash" title="点击隐藏该职位"></span>
              <% end%>
            <% end %>
          </div>
        </td>

      </tr>
      <% end %>
    </tbody>
</table>
</div>
