<div class="container">
  <br>
  <ul class="job-list">
    <% @mini_resumes.each do |mini_resume|  %>
    <li class="job-item">
      <div class="job-primary">
          <div class="info-primary">
              <h3 class="name"><%= link_to(mini_resume.job_name, mini_resume_path(mini_resume)) %> <span class="red"><%= render_mini_resume_wage(mini_resume) %></span></h3>
              <p><sapn class="fa fa-map-marker"></sapn> <%= mini_resume.address %><em class="vline"></em><%= mini_resume.work_start_time %></p>
          </div>
          <div class="info-comapny">
              <div class="company-text">
                  <h3 class="name"><%= mini_resume.name %></h3>
                  <p><span class="fa fa-envelope"></span> <%= mini_resume.email %></p>
              </div>
          </div>
      </div>
      <div class="job-time"><span class="time">发布于 <%= render_mini_resume_time(mini_resume) %></span></div>

    </li>
    <% end %>
  </ul>
</div>
