<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for [:seeker, @mini_resume] do |f| %>
    <%= f.input :name, :label => "姓名:"%>
    <%= f.input :sex, :label => "性别:"%>
    <%= f.input :birthday, :label => "出生日期:"%>
    <%= f.input :work_start_time, :label => "开始工作时间:"%>
    <%= f.input :job_name, :label => "职位:"%>
    <%= f.input :state, :label => "当前状态:"%>
    <%= f.input :address, :label => "地址:"%>
    <%= f.input :wage_lower_bound, :label => "薪资下限:" %>
    <%= f.input :wage_upper_bound, :label => "薪资上限:" %>
    <%= f.input :description%>
      <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
    <% end %>
    <div style="height: 100px;"></div>
  </div>
</div>
