<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h3> 我的微简历 </h3>
    <p>求职者：<%= @mini_resume.name %></p>
    <p>性别：
    <% if @mini_resume.sex == 0 %>
      女
    <% else %>
      男
    <% end %>
    </p>
    <p>生日：<%= @mini_resume.birthday %></p>
    <p>开始工作时间：<%= @mini_resume.work_start_time %></p>
    <p>职位：
    <%= @mini_resume.job_name%></p>
    <p>状态：
    <% if @mini_resume.state %>
      离职
    <% else %>
      在职
    <% end %>
    </p>
    <p>地址：<%= @mini_resume.address %></p>
    <p>薪资范围：<%= @mini_resume.wage_lower_bound %> 到 <%= @mini_resume.wage_upper_bound %> </p>
    <p>描述：<%= @mini_resume.description %></p>
    <br>
    <br>
  </div>
</div>
