<h1> 我的微简历 </h1>

<p>求职者：<%= @mini_resume.name %></p>
<p><%= @mini_resume.sex %></p>
<p><%= @mini_resume.birthday %></p>
<p><%= @mini_resume.work_start_time %></p>
<p><%= @mini_resume.job_name %></p>
<p><%= @mini_resume.state %></p>
<p><%= @mini_resume.address %></p>
<p><%= @mini_resume.wage_lower_bound %> 到 <%= @mini_resume.wage_upper_bound %> </p>
<p><%= @mini_resume.description %></p>
